
<div class="container">
  <div class="row-cols-1">
      <div class="col">
        <br>
        <br>
        <h2>ToDo List</h2>
      </div>
  </div>

</div>

  <div class="container">
    
      <br>


      <input type="text" class="form-control" placeholder="New Task" >
      <br>
      <button class="btn btn-primary" style="float: right">Add</button>
      <br>
      <br>

      <!--        </div><input type="text" class="form-control" placeholder="New Task">-->
<!--        <button type="submit" class="btn btn-primary mb-auto" style="float: right">Add</button>-->



</div>
