<div class="container">
  <div class="card" style="width: 80%">
    <ul class="list-group list-group-flush">

      <li class="list-group-item"><input type="checkbox">  <span style="padding: 5%; text-decoration: line-through">First Item</span> <span class="badge badge-danger" style="float: right" type="submit"> Delete</span></li>
      <li class="list-group-item"><input type="checkbox">  <span style="padding: 5%">Second Item</span> <span class="badge badge-danger" style="float: right"  type="submit"> Delete</span></li>
      <li class="list-group-item"><input type="checkbox">  <span style="padding: 5%">Third Item</span> <span class="badge badge-danger" style="float: right"  type="submit"> Delete</span></li>


    </ul>
  </div>
</div>


